@charset "UTF-8";

.register1{
	background-color: #c6c6c6;
}
.loginconbtn{
  background-color: rgb(34, 27, 27,0.5);
    border-color: #f2f2f2;
    color: white;
}
.registerForm{
	padding-right:600px;
}
.loginconbtn:hover{
  color: #f1f1f1;
}
.welcome{
  margin-right:100px;
  color:black;
  }
.footericon{
  text-align: center;
}
.footericon i{
  box-sizing: border-box;
  background-color: #363030;
  padding: 10px;
  font-size: 15px;
  margin: 15px;
}
.footericon a{
  color: white;
}